# for llm prompt generation and chaining
# langchain==0.1.8


# for server
fastapi==0.109.2
# for authentication
# paseto==1.0.1
PyJWT==2.8.0
# enriched sqlalchemy ORM with pydantic 
sqlmodel==0.0.16
# or asnyc operations
asyncpg==0.29.0
# for alembic migrations
psycopg2-binary==2.9.9
# for env variables
python-dotenv==1.0.1
# dev dependencies - migrations
alembic==1.13.1
# :TODO
uvicorn==0.27.1
# password generation / verification = util
passlib==1.7.4
# logging
loguru==0.7.2
# Mangum if deployed on aws as serverless lambda
mangum==0.17.0

# security - token generation
# NOTE new version of bcrypt doesn't have __about__ with its version which
# NOTE which causes to break in lambda environment, that's why using 4.0.0
bcrypt==4.0.0

# twitter connection
# python-twitter-v2==0.9.0

# aws
boto3==1.34.55

# TESTING
pytest==8.0.1
# for async tests
pytest-asyncio==0.23.5
# mock
pytest-mock==3.12.0
# async /sync requests
httpx==0.27.0